<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container overlay">
        <header>
            <h2>Bank Refund Program</h2>
        </header>
        <table class="table table-hover table-custom">
            <thead>
                <tr class="table-heading">
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">TransactionID</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of transactions">
                    <td>{{transaction.id}}</td>
                    <td>{{transaction.name}}</td>
                    <td>{{transaction.transactionId}}</td>
                    <button type="button" class="btn btn-warning button-refund">Refund</button>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>